<% include partials/header %>

<header class='jumbotron'>
  <div class="container">

  <h1>Welcome to YelpCamp</h1>
  <p>Hand-picked campsites from around the world.</p>
  <p><a class="btn btn-primary btn-lg" href="/campgrounds/new">Add New Campground.</a></p>

</div>
</header>


<div class="flex">
  <% campgrounds.forEach(function(campground){ %>
    <div class='column'><img class="img-thumbnail img-fluid" src="<%= campground.image %>" alt=""><h4><%= campground.name %></h4></div>


  <% }) %>

</div>

<% include partials/footer %>
