<% include partials/header %>

<header class='jumbotron'>
  <div class="container">

  <h1>Welcome to YelpCamp</h1>
  <p>Hand-picked campsites from around the world.</p>
  <p><a class="btn btn-primary btn-lg" href="/campgrounds/new">Add New Campground.</a></p>

<% campgrounds.forEach(function(campground){ %>
  <div class="">
    <h4><%= campground.name %></h4>
    <img src="<%= campground.image %>" alt="">
  </div>
<% }) %>

<% include partials/footer %>
