<% include partials/header %>

<header class='jumbotron container'>
  <div class="container">

  <h1>Welcome to YelpCamp</h1>
  <p>Hand-picked campsites from around the world.</p>
  <p><a class="btn btn-primary btn-lg" href="/campgrounds/new">Add New Campground.</a></p>

</div>
</header>

<section class="flex flex-image container">
  <% campgrounds.forEach(function(campground){ %>
    <figure class="figure column">
      <img class="img-thumbnail figure-img img-fluid rounded" src="<%= campground.image %>" alt="">
      <figcaption class="figure-caption">
        <h5><%= campground.name %></h5>
        <p><a href="#" class="btn btn-primary"></a></p>
      </figcaption>
    </figure>
  <% }) %>
</section>

<% include partials/footer %>
