<% include partials/header %>

<section class="container">

    <h1><%=campground.name%></h1>

    <img class="img-fluid rounded" src="/<%= campground.image %>" alt="">

    <p><%= campground.description %></p>

</section>

<% include partials/footer %>
