.flex{
    display: flex;
}

/* Flex settings specific to sections.  */

.flex-image{
  flex-wrap: wrap;
  align-items: flex-end; // Alternately choose centre
}

.flex-new-camp{
  width: 40%;
  margin: 0 auto;
}

.column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

figure{
  border-radius: 5px;
  background: #EEE;
}

.img-thumbnail{
  margin-top: 5px;
}

figcaption{
  text-align: center;
}

@media (max-width: 800px) {
    .column {
        flex: 50%;
        max-width: 50%;
    }
}

@media (max-width: 600px) {
    .column {
        flex: 100%;
        max-width: 100%;
    }
}
