.flex{
    display: flex;
}

.flex-row{
  flex-direction: row;
}
/* Flex settings specific to sections.  */

.flex-aside {
  flex: 1 1 0;
}

.flex-article {
  flex: 3 1 0;
  margin: 0 3%;
}

.flex-new-camp{
  width: 40%;
  margin: 0 auto;
}

/* For index campsite thumbnails / cards */
.column {
  flex: 25%;
  max-width: 25%;
  margin: 0 4px;
}

@media (max-width: 800px) {
    .column {
        flex: 50%;
        max-width: 50%;
    }
}

@media (max-width: 600px) {
    .column {
        flex: 100%;
        max-width: 100%;
    }
}
