.flex{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end; // Alternately choose centre
}

.column {
    flex: 33%;
    max-width: 33%;
    padding: 0 4px;
}

@media (max-width: 800px) {
    .column {
        flex: 50%;
        max-width: 50%;
    }
}

@media (max-width: 600px) {
    .column {
        flex: 100%;
        max-width: 100%;
    }
}
