<% include ../partials/header %>

<header class='jumbotron container'>
  <div class="container">

  <h1>Welcome to YelpCamp</h1>
  <p>Hand-picked campsites from around the world.</p>
  <p><a class="btn btn-primary btn-lg" href="/campgrounds/new">Add New Campground.</a></p>

</div>
</header>

<section class="flex flex-image container">
  <% campgrounds.forEach(function(campground){ %>

    <div class="card column">
      <img class="card-img-top" src="<%= campground.image %>" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title text-center"><%= campground.name %></h5>
        <p class="card-text text-center"><a href="/campgrounds/<%= campground._id %>" class="btn btn-primary">More Info</a></p>
      </div>
    </div>

  <% }) %>
</section>

<% include ../partials/footer %>
